header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(54deg, rgba(74, 76, 179, 0.884) 34%, rgba(206, 156, 156, 0.925));
    width: 100%;
    height: 35em;

    #Navigation {
        width: 100%;
        position: fixed;
        background-color: #fff;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .14);
        z-index: 1;

        .NavSection {
            display: flex;
            margin: 20px;

            li {
                font-size: 15px;
                font-weight: 700;
                margin-right: 80px;
                list-style: none;

                a {
                    color: #001233;
                    text-decoration: none;

                }
            }
        }
    }

    #Biography {

        .BioImg {
            position: relative;
            margin-top: 40px;
            border-radius: 15px;
            top: 90px;

        }

        .BiographyInfo {
            padding-top: 100px;

            .PortfolioName {
                font-size: 50px;
                font-weight: 500;
                margin-bottom: 0;
                color: #001233;

            }


            .PortfolioWork {
                font-size: 20px;
                font-weight: 500;
                color: #fff;
            }

            .BioList {
                font-size: 20px;
                opacity: .8;

                dl {
                    float: left;
                    color: #fff;
                    font-weight: 700;
                }
            }

            .SosialIcon {
                text-align: center;
                display: flex;
                font-size: 30px;

                P {
                    margin-left: 10px;

                    a {
                        opacity: .7;
                        color: #001233;

                        &:hover {
                            transition: .7s;
                            opacity: 1;
                        }
                    }

                }
            }
        }
    }
}

section {
    font-family: Roboto Mono,
        monospace;

    #Resume {

        h1 {
            color: #001233;
            margin-top: 3em;
        }
    }

    .ResumeSkills {
        h5 {
            text-transform: uppercase;
            letter-spacing: 5px;
            font-size: 20px;
            letter-spacing: 5px;
            font-weight: 600;
            color: #999;
            margin: 10px;
        }

        .ResumeEducation {


            .EducationList {
                border-left: 2px solid #6d56c1;
                opacity: .9;
                padding-left: 2rem;

                ::before {
                    width: 10px;
                    height: 10px;
                    border: 2px solid #6d56c1;
                    position: absolute;
                    content: "";
                    border-radius: 50%;
                    background-color: #fff;
                    left: 98px;
                }

                .UniversityName {
                    color: #6d56c1;
                    font-weight: 700;
                    font-size: 17px;
                }

                .DateEducation {
                    color: #999;
                }
            }
        }

        .Skills {
            .progress {
                margin-bottom: 10px;
            }
        }
    }
}

#Projects {
    padding-bottom: 30px;

    h3 {
        margin: 20px;
        color: #6d56c1;
    }

    .Proje {
        box-shadow: 9px 6px 7px #6d56c136;
        cursor: pointer;

        .ProjeInf {

            h1 {
                font-family: Roboto Mono,
                    monospace;
            }

            .Stac {

                ul {
                    display: flex;

                    li {
                        padding-right: 10px;
                        list-style: none;
                        text-decoration: none;
                        opacity: .7;
                        border: 2px solid #6d56c1;
                        padding: 2px;
                        border-radius: 5px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}